<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>まなびのもり</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  </head>

 <body>
   <header>
    <div class="header-text">
      <div class="header-title">
        <p>まなびのもり</p>
      </div>
    </div>
   </header>

    <main>
      <div class="main">
        <div class="main-text">
        <p>ここでは、クイズを通してあたまの体そうをすることができるよ！</br>
        </br>
        大人になったらゲームを作成したいと考えている、</br>
        パソコンを使う学習が苦手だと感じている人は</br>
        さっそくやってみよう！</br></p>
        </div>

       <div class="main-app">
         <p>↓はじめてクイズをする人は下をクリック↓</p>
          <div class="main-content"> 
              <%= link_to "とうろく", new_user_registration_path %>
          </div>
         <p>↓クイズをする人は下をクリック↓</p>
          <div class="main-context">
              <%= link_to "ログイン", user_session_path %>
          </div>

       </div>
      </div>
    </main>

    <footer-1>
      <small>© 2023/2/23 manamori</small>
    </footer-1>
  </body>
</html>
