<div class="intoro">
<h2>頭をきたえるクイズ</h2>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @nakama.question == "正解" %>
    <h1>正解</h1>
    <p>やったね正解! 次の問題に挑戦してみよう！</p>

    <% elsif @nakama.question == "不正解1" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>四角は2つあるから、なかまはずれじゃなさそうだね</p>

    <% elsif @nakama.question == "不正解2" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>緑色の図形は2つあるから、なかまはずれじゃなさそうだね</p>

    <% elsif @nakama.question == "不正解3" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解4" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解5" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解6" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解7" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解8" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解9" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @nakama.question == "不正解10" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <p>ヒント</p>
    <p>図形の特ちょうを1つ1つ整理していこう!</p>

    <p>解説</p>
    <p>左から数えて1番目の図形は、図形の中の図形が1つだけ△</p>
    <p>2番目は、図形の色が1つだけ赤色</p>
    <p>3番目は、大きさが1つだけ小さい</p>
    <p>4番目は特に特ちょうがない</p>
    <p>5番目は、形が1つだけ丸い</p>
    <p>4番目の図形だけ、「他の図形と共通する特ちょう」を必ずそなえているため、目立った特ちょうを言うことができない。</p>
    <p>これだけ、なかまはずれになる要素が無いのです。</p>
    <p>だから、左から4番目の図形がなかまはずれとなります。</p>


    <% end %>

    <%= link_to "戻る", :controller => "nakamas", :action => "new" %>
    <%= link_to "マイページへ", user_path(current_user.id) %>

</div>