<div class="intoro">
  <header>
    <div class="header-text">
      <div class="header-title">
        <h2>道順</h2>
      </div>
    </div>
  </header>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @road.question == "正解" %>
    <h1>正解</h1>
    <p>やったね正解! 次の問題に挑戦してみよう！</p>

    <% elsif @road.question == "不正解1" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <img src="<%= asset_path('road.batu1.jpeg') %>"/>
    <p>横から行くと、必ず同じ道を通らないとゴールにいけないね。</p>

    <% elsif @road.question == "不正解2" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @road.question == "不正解3" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% elsif @road.question == "不正解4" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>

    <% end %>

    <%= link_to "戻る", :controller => "roads", :action => "new" %>
    <%= link_to "マイページへ", user_path(current_user.id) %>

</div>

<footer-1>
  <small>© 2023/2/23 manamori</small>
</footer-1>