<div class="intoro">
  <header>
    <div class="header-text">
      <div class="header-title">
        <p>頭をきたえるクイズ</p>
      </div>
    </div>
  </header>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @nazo.question == "正解" %>
    <h1>正解</h1>
    <p>やったね正解! 次の問題に挑戦してみよう！</p>

    <% elsif @nazo.question == "不正解1" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>
    </br>
    </br>
    <p><答え></p>
    <p>村人</p>
    </br>
    <p><解説></p>
    <p>分かることから整理していこう！</p>
    <p>まず最初に確定できるのは「B:あくま」になります。</p>
    <p>あくまは常に嘘をつかなければならないため、</p>
    <p>「私は天使ではない」「私は人間ではない」と発言すると「あくま」が真実を述べたことになってしまいます。</p>
    <p>そのため、村人Bが悪魔であることが決まります。</p>

    <% elsif @nazo.question == "不正解2" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>「5」円</p>

    <p>解説</p>
    <p>消しゴムは10円じゃないよ!</p>
    <p>消しゴムが10円の時を考えてみよう</p>
    <p>消しゴムが10円の時、消しゴムより100円高いボールペンの値段は110円。</p>
    <p>2つを合計すると120円になっちゃうから間違いと分かるね。</p>
    <p>つまり、「消しゴム+ボールペン=110」→「消しゴム+(消しゴム+100)=110」</p>
    <p>上に書いてある式が成り立つ値段を求めよう</p>
    <p>すると、消しゴム=5円、ボールペン=105円になることが分かるよ</p>

    <% elsif @nazo.question == "不正解3" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>Aくん</p>

    <p>解説</p>
    <p>1つずつ情報を整理しよう!</p>
    <p>1回目のかけっこでは…</p>
    <p>2人が走る速さはそれぞれ常に一定です。</p>
    <p>1回目の100メートル走で、</p>
    <p>Aくんが100メートル走る時間 = Bくんが90メートル走る時間が同じなことが分かったよ。</p>
    <p>ここから、当たり前だけどAくんの方が足が速いことが分かるね。</p>

    <p>2回目のかけっこでは…</p>
    <p>2回目の100メートル走は、Aくんがスタート地点より10メートル下がった所で開始しました。</p>
    <p>この場合、ゴール手前10メートルの「90メートル地点」でAくんとBくんが並びます。</p>
    <p>彼らの走る速度はそれぞれ常に一定なので、残り10メートルにおいて足が速いAくんはBくんをわずかに追い抜き、先にゴールすることになるよ。</p>

    <% elsif @nazo.question == "不正解4" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>「28」時間</p>

    <p>解説</p>
    <p>答えは30時間じゃないよ!</p>
    <p>1時間で「3メートル上がる」「すぐに2メートル落ちる」などの言葉から、</p>
    <p>「1時間で1メートルしか上がれない」</p>
    <p>「30メートル上がるのに30時間が必要」</p>
    <p>と思ってしまいがちですが、実際は少し違います。</p>
    <p>27時間が経過した時点で、女の子は井戸の底から27メートル地点にいます。</p>
    <p>井戸を脱出するまで残り3メートルになります。</p>
    <p>ここから1時間あれば3メートル上がれます。</p>
    <p>その瞬間、女の子は井戸から脱出できるので「直後に2メートル落ちる」ことがないので、28時間で井戸から出れるということだよ。</p>

    <% elsif @nazo.question == "不正解5" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>2人</p>

    <p>解説</p>
    <p>最終的に、男性1人だけが砂漠横断できればいいって考えよう!</p>
    <p><1日目></p>
    <p>1日目朝の食料内訳</p>
    <p>男性:4日分, 荷物持ち1:4日分, 荷物持ち2: 4日分</p>
    <p>行動</p>
    <p>男性、荷物持ち1、荷物持ち2がそれぞれ4日分の食料をもって出発。</p>
    <p>3人は1日分の食料をそれぞれ消費する。</p>
    <p>1日目の終わりに、仮に荷物持ち2は男性と荷物持ち1に1日分の食料を渡すようにします。</p>
    <p>1日目夜の食料内訳</p>
    <p>男性:4日分, 荷物持ち1:4日分, 荷物持ち:1日分</p>
    <p><2日目></p>
    <p>2日目朝の食料内訳</p>
    <p>男性:4日分, 荷物持ち1:4日分, 荷物持ち2:1日分</p>
    <p>行動</p>
    <p>男性と荷物持ち1がそれぞれ4日分の食料を持って出発</p>
    <p>荷物持ち2は最初の町に引き返します。</p>
    <p>3人は1日分の食料を消費します。</p>
    <p>2日目の終わりに、荷物持ち1は男性に1日分の食料を渡して町に引き返します。</p>
    <p>荷物持ち2は最初の町に帰ることができるね。</p>
    <p>2日目夜の食料内訳</p>
    <p><3日目以降></p>
    <p>男性は4日分の食料を持っているので、6日目に砂漠の横断に成功できるよ</p>
    <p>荷物持ち1も4日目の夜に最初の町に帰ることができるね。</p>

    <% elsif @nazo.question == "不正解6" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>12月31日</p>

    <p>解説</p>
    <p>「おととい」「来年」をはさんで一気に3歳も年齢を重ねているのがポイント!</p>
    <p>問題文をよく考えると、</p>
    <p>「おとといの時点では5才だが、昨日で6才になった」,「今日で年が変わる」ということが分かるよ</p>
    <p>上の文章のようになるのは、Aちゃんの誕生日が12月31日のときだけになるよ</p>

    <% elsif @nazo.question == "不正解7" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>A子</p>

    <p>解説</p>
    <p>情報を細かに整理しよう!</p>
    <p>A子が出した「チョキ:6回」に着目しよう。</p>
    <p>あいこには一度もならなかったので、A子がチョキ6回を出したとき、B子はグーを2回+パーを4回出しているはず。</p>
    <p>その時点でのA子の戦績は4勝2敗になるね。</p>
    <p>さて、4回の勝負でB子が出したのは「チョキ:4回」。</p>
    <p>それに対しA子はグーを3回、パーを1回出しています。</p>
    <p>その勝負でのA子の戦績は3勝1敗になるね。</p>
    <p>よって、最終的にはA子が7勝3敗で勝ったということが分かります。</p>

    <% elsif @nazo.question == "不正解8" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>「15」枚</p>

    <p>解説</p>
    <p>文章をよくよんで理解しよう!</p>
    <p>先週1週間で着たシャツは7枚。</p>
    <p>今週1週間で着たシャツも7枚。</p>
    <p>クリーニング店にあずけるのも渡すのも、毎週7枚ずつ。</p>
    <p>ならば答えは7+7=14</p>
    <p>と思えるかもしれないけれど、実際にはもう1枚持っていかないと、</p>
    <p>クリーニング店に行く日曜日に着るためのシャツがなくなってしまいます。</p>
    <p>つまり、A子は最低でも15枚のシャツを持っていく必要があるよ。</p>

    <% elsif @nazo.question == "不正解9" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>「15」分</p>

    <p>解説</p>
    <p>最初にどのボートを動かすのかが大事だよ!</p>
    <p>最初に動かすボートを「1分」「2分」のボートであることが分かると簡単に解けるよ。</p>
    <p>最初に「1分」「2分」のボートで向こう岸に行きます。</p>
    <p>「1分」のボートで元の岸へ</p>
    <p>「4分」「8分」のボートで向こう岸へ</p>
    <p>「2分」のボートで元の岸へ</p>
    <p>「1分」「2分」のボートで向こう岸へ</p>
    <p>以上のように動かすと、15分ですべてのボートを向こう岸にもっていくことができたよ。</p>

    <% elsif @nazo.question == "不正解10" %>
    <h1>不正解</h1>
    <p>ざんねん！</p>
    <p>もう一度、落ち着いて考えてみよう</p>
    <p>考えぬいたけど、分からない人は解説を見てみよう！</p>

    <p>答え</p>
    <p>6,7,8,9,10</p>

    <p>解説</p>
    <p>順番に文章を整理していこう!</p>
    <p>まず、「10番目の文章が正しい」と仮定してみよう。</p>
    <p>すると、(10番目の文章を含む)すべての文章がうそであることになります。</p>
    <p>これは、「10番目の文章が正しい」という仮定にむじゅんしてしまいます。</p>
    <p>つまり、10番目の文章はうその文章です。</p>
    <p>さて、「全ての文章がうそ」という10番目の文章がうそということは、</p>
    <p>「少なくとも1~9番目の文章の中に1つは正しい文章がなければいけない」ことが分かります。</p>
    <p>この時点で、1番目の文章が正しい文章であることが分かります。</p>
    <p>この後も、同じように考えてみよう。</p>
    <p>9番目の文章が正しいとすると、</p>
    <p>1番目の文章は正解だと分かっているので</p>
    <p>2~10番目のすべての文章はうそになりますが、</p>
    <p>これは「9番目の文章が正しい」という仮定にむじゅんしてしまいます。</p>
    <p>よって、9番目の文章はうそです。</p>
    <p>そしてうその文章が2つ出てきたので、「少なくともうその文章が2つある」と述べている</p>
    <p>2番目の文章は正しい文章になります。</p>
    <p>これをくり返していくと、8番目はうそで3番目は真実、</p>
    <p>7番目はうそで4番目は真実、そして6番目はうそで5番目は真実の文章になります。</p>
    <p>つまり、最終的に「1~5番目の文章は正しく、6~10番目の文章はうそ」ということになりました。</p>

    <% end %>

    <%= link_to "戻る", :controller => "nazos", :action => "new" %></br>
    <%= link_to "マイページへ", user_path(current_user.id) %>

</div>
<footer-1>
  <small>© 2023/2/23 manamori</small>
</footer-1>