<p>こんにちは、 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが<%= @resource.unconfirmed_email %>に変更されることの通知をいたします。</p>
<% else %>
  <p>あなたのメールアドレスが<%= @resource.email %>に変更されたことをご連絡いたします。</p>
<% end %>
