<p>こんにちは、 <%= @resource.email %>!</p>

<p>パスワードの変更をリクエストされましたか？</p>
<p>お間違えなければ、以下のリンクからパスワードの変更が可能です。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードは、上記のリンクにアクセスして新しいものに変更が完了するまで変更されませんので、</p>
<p>リクエストされなかった方は、このメールを無視してください。</p>
